* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 4rem;
<<<<<<< HEAD
	text-align: center;
=======
>>>>>>> b945fa8d67c4cb7e1b69ffbf90cadf0985f70f37
}

h1 {
	font-size: 3.6rem;
<<<<<<< HEAD
	margin: 3rem 0;
}

img {
	width: 150px;
	aspect-ratio: 1;
	border-radius: 50%;
}

=======
	text-align: center;
	margin: 3rem 0;
}

>>>>>>> b945fa8d67c4cb7e1b69ffbf90cadf0985f70f37
.text-red {
	color: red;
}
