* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #f0f0f2;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	padding: 4.8rem;
}

h1 {
	font-size: 3.6rem;
	text-align: center;
	margin: 3rem 0;
}

.text-red {
	color: red;
}

/* Block: Card */
.card {
	font-size: 2rem;
	background-color: white;
	padding: 4rem 3rem;
	max-width: 70rem;
	border-radius: 12px;

	display: flex;
	flex-direction: column;
	gap: 15px;
}

/* BEM: Block Element Modifier */
.card_content {
	text-align: left;
}

.card_link {
	color: #5663a0;
	cursor: pointer;
}
